$mtfk-primary-color: #fff;
$mtfk-secondary-color: #ddd;

@mixin pulse {
  @keyframes pulse {
  0% {
  transform: scale(1);
}
  50% {
  transform: scale(1.1);
}
  100% {
  transform: scale(1);
}
}
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.mtfk {
  &__popup {
    position: relative;
    margin-left: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 8px 15px 1px #d5d5d5cc;
    &-inner {
      display: flex;
    }
    &-textarea {
      width: 400px;
      margin: 10px;
    }
    &_close-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        &:hover {
            opacity: 0.65;
        }
    }
  }

  &__shadow-host {
    width: min-content;
    position: relative;
    bottom: 50px;
    left: 20px;
  }

  &__shadow-host,
  &__popup-inner {
    display: flex;
  }

  &__option {
    background: transparent;
    border: none;
    text-transform: capitalize;
    display: block;
    font-size: 14px;
    text-align: left;
    padding: 5px 10px;
    font-weight: 400;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $mtfk-secondary-color;
    }

    &::before {
      margin-right: 5px;
    }

    &--formal::before {
      content: "🎓";
    }

    &--casual::before {
      content: "👔";
    }

    &--friendly::before {
      content: "😎";
    }
  }

  &__button {
    position: relative;
    display: inline-flex;
    background-size: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.2s;
    @include pulse;
}

  &__button:hover,
  &__button:focus {
    opacity: 0.65;
    border-color: $mtfk-primary-color;
}

  &__options {
    background: $mtfk-primary-color;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid $mtfk-secondary-color;
    color: #000;
    z-index: 999;
    flex-direction: column;
    width: 200px;
    &_close {
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 15px;

      &:hover {
        opacity: 0.65;
    }
  }
}
}
